@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Get to Know Joel!</h2>

<div>
    <p>Where he regularly performs comedy:</p>
    <a href="https://www.qwcomedy.com/">Quick Wits Comedy</a>
    <br />
    <br />
    <br />
    <br />
    <p>Business:</p>
    <a href="https://baconsale.com/">Bacon Sale</a>
    <img href="https://baconsale.com/" src="~/image/BaconsaleKate.jpg"/>
</div>