@{
    ViewData["Title"] = "Home Page";
}

<h1>The Joel Hilton Film Collection</h1>
<div>
    <p>Today is your lucky day. You found this site.</p>
    <img src="~/image/JoelHiltonHeadshot.jpg" height="500"/>
 </div>
<br />
<div>
    <a asp-controller="Home" asp-action="FillOutForm">Fill Out a Movie Form</a>
</div>
